<!-- tell the View which model you are passing it-->
@model Library.ViewModels.Catalogue.ItemIndexModel

<div id="items">
    <h2>Welcome to the Library Catalogue!</h2>
    <div class="itemsTable">

    </div>
</div>
